body {
  background-color: rgb(162, 162, 236);
}

.mothercontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
}

.pricingtab-1 {
  background-color: white;
  width: 250px;
  border: 1px solid black;
  border-radius: 12px;
  height: 550px;
  padding: 8px;
}

.pricingtab-2 {
  background-color: black;
  color: white;
  width: 250px;
  border: 1px solid #eee;
  border-radius: 12px;
  height: 550px;
  padding: 8px;
}
.pricingtab-3 {
  background-color: white;
  width: 250px;
  border: 1px solid black;
  border-radius: 12px;
  height: 550px;
  padding: 8px;
}

h3 {
  font-size: 28px;
}
.blckbttn {
  background-color: black;
  color: white;
  border-radius: 7px;
  width: 100%;
  margin-top: 10px;
}
.whitebttn {
  background-color: white;
  color: black;
  border-radius: 7px;
  width: 100%;
  margin-top: 10px;
}

ul {
  list-style-type: none;
}

.pthead-1 {
  display: flex;
  justify-content: space-between;
}
.pthead-2 {
  display: flex;
  justify-content: space-between;
}
.pthead-3 {
  display: flex;
  justify-content: space-between;
}

.user-count-1 {
  display: flex;
  align-items: center;
  color: rgb(53, 51, 51);
}
.user-count-2 {
  display: flex;
  align-items: center;
  color: rgb(223, 214, 214);
}
.user-count-3 {
  display: flex;
  align-items: center;
  color: rgb(53, 51, 51);
}
.price-section {
  display: flex;
  justify-content: fex-start;
  gap: 5px;
}
.dollar-sign {
  font-size: 25px;
}
.amount {
  font-size: 25px;
}
.duration {
  margin-top: 5px;
}
footer {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
